<div class="section2 flexCol">

  <h1 class="title2">models</h1>

  <div class="cardContainer flexRow">
    <div class="card flexCol">
      <div class="line2"></div>
      <img src="/porsche/allCars/718.jpg" alt="" class="carImg" />
      <h1 class="cardTitle">718</h1>
      <br />
      <a href="/718" class="button">See more models</a>
    </div>
    <div class="card flexCol">
      <div class="line2"></div>
      <img src="/porsche/allCars/911.jpg" alt="" class="carImg" />
      <h1 class="cardTitle">911</h1>
      <br />
      <a href="/911" class="button">See more models</a>
    </div>
    <div class="card flexCol">
      <div class="line2"></div>
      <img src="/porsche/allCars/Panamera.jpg" alt="" class="carImg" />
      <h1 class="cardTitle">Panamera</h1>
      <br />
      <a href="/panamera" class="button">See more models</a>
    </div>
    <div class="card flexCol">
      <div class="line2"></div>
      <img src="/porsche/allCars/Taycan.jpg" alt="" class="carImg" />
      <h1 class="cardTitle">Taycan</h1>
      <br />
      <a href="/taycan" class="button">See more models</a>
    </div>
  </div>
</div>